<div id="mc_embed_shell" class="actions fit">
    <div id="mc_embed_signup">
        <form action="https://uchicago.us9.list-manage.com/subscribe/post?u=371db1223b7c38aa73ae9d252&amp;id=773578a213&amp;f_id=00525de1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_371db1223b7c38aa73ae9d252_773578a213" tabindex="-1" value="">
            </div>
            <div class="fields">
                <div id="mc_embed_signup_scroll" class="field">
                    <label for="mce-EMAIL">For more information or to participate:</label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                </div>
                </div>
            <ul class="actions">
                <li><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button fit" value="Tell me more!"></li>
            </ul>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
        </form>
    </div>
</div>
