{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "mailchimp" . }}
	{{ partial "spotlight" site.Data.discussants1 }}
	{{ partial "spotlight" site.Data.discussants2 }}
	{{ partial "spotlight" site.Data.discussants3 }}
	{{ partial "spotlight" site.Data.leaders1 }}
	{{ partial "spotlight" site.Data.leaders2 }}
	{{ partial "spotlight" site.Data.leaders3 }}
	{{ partial "spotlight" site.Data.leaders4 }}
	{{ partial "spotlight" site.Data.leaders5 }}
	{{ partial "gallery" site.Data.sponsors }}
	{{/*  {{ partial "items" site.Data.items }}  */}}
	{{ partial "footer" . }}

{{ end }}
